body, main {
  background: linear-gradient(217deg, rgba(174,217,224,.8), rgba(170,170,170,.5) 70.71%),
              linear-gradient(127deg, rgba(99,118,141,.8), rgba(174,217,224,.3) 70.71%),
              linear-gradient(336deg, rgba(99,118,141,.8), rgba(255,229,212,1) 70.71%);
  margin: 0;
  height: 100%;
  font-family: 'Verdana', sans-serif;
}

.hidden {
  display: none;
}

/* 📔 Main Page Styles */
.header-nav {
  height: 12em;
  background: rgba(255, 255, 255, 0.4);
  margin: 15px;
  border-radius: 15px;
  text-align: center;
}

.main-title {
  padding: 10px;
}

.main-title,
.header-nav-container {
  margin: 20px;
}

.header-nav-container,
.recipe-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
}

.button,
.search-button {
  height: 1em;
  font-size: .5em;
  border: none;
  background-color: transparent;
}

.button:hover,
.search-button:hover,
.feature-image:hover {
  box-shadow: 5px 5px 40px #aed9e0;
  border-radius: 15px;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 35%;
  height: 3em;
  margin: 20px 0 20px 20px;
  border-radius: 15px;
  font-size: 12px;
}

.search-button {
  margin: 0;
}

/* ✨ Feature Display Styles */
.main-content-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vw;
  margin: 10px;
}

.featured-recipe-container,
.welcome-abstract-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

.featured-recipe-container {
  display: flex;
  width: 63vw;
}

.feature-header {
  font-size: 3em;
}

.feature-title {
  font-size: 2em;
}

.feature-image {
  border-radius: 20px;
}

.welcome-abstract-container {
  width: 33vw;
  padding: 3vw;
}

.welcome-msg {
  font-size: 2em;
}

.welcome-text {
  font-size: 1.5em;
}

/* 🗂 Recipe Card Display Styles */
.recipe-card-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipe-category-container {
  display: flex;
  flex-direction: column;
}

.category-header {
  font-size: 2.5em;
  text-align: center;
  text-shadow: #ffe5d4 1px 0 10px;
  margin: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  margin: 15px;
  border-radius: 15px;
}

.recipe-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 25px;
}

/* 🗂 Recipe Card Styles */
.recipe-card {
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding-right: 15px;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/106877/pexels-photo-106877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.card-nav {
  padding-top: 10px;
}

.small-btn {
  background-color: #aaa;
  height: 25px;
  border-radius: 9px;
}

.recipe-card:hover {
  box-shadow: 5px 5px 10px #aed9e0;
}

/* 🗂 Recipe Styles */
.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.recipe-nav {
  margin: 20px;
  justify-content: space-around;
}

.recipe-notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15em;
  text-align: center;
}

.ingredients-cost,
.recipe-page-image {
  width: 45vw;
}

.recipe-page-image {
  padding: 16px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.recipe-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.ingredients-container,
.instructions-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #454851;
  border-radius: 20px
}

.ingredients-container {
  width: 35%;
}

.instructions-container {
  width: 65%;
}

.all-recipes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  padding: 50px;
}

/* 💻 > 📱 Media Queries */
/* Tablet 📱 */
@media screen and (min-width: 540px) and (max-width: 1023px) {
  body,
  main {
    display: flex;
    flex-direction: column;
  }
}

/* Mobile 📱 */
@media screen and (min-width: 250px) and (max-width: 539px) {
  body,
  main {
    display: flex;
    flex-direction: column;
  }

  .button {
    font-size: 12px;
  }

  .header-nav-container,
  .search-input {
    margin: 15px;
  }

  .main-content-features {
    flex-direction: column;
    height: auto;
  }

  .featured-recipe-container,
  .welcome-abstract-container {
    width: 90vw;
    padding: 0;
  }

  .feature-image {
    width: 80vw;
  }

  .recipe-card-container {
    display: flex;
    flex-direction: column;
  }

  .recipe-nav-container {
    flex-direction: column;
  }

  .recipe-details-container {
    flex-direction: column;
    align-items: center;
  }

  .ingredients-container,
  .instructions-container {
    width: 85vw;
  }

}


/* 🎨 Color Palette */
/* dark gray: #454851 	(69,72,81) */
/* peach: #ffe5d4 	(255,229,212) */
/* slate blue: #63768d 	(99,118,141) (background-color body,main) */
/* aqua: #aed9e0 	(174,217,224) */
/* light gray: #aaaaaa 	(170,170,170) */
/* black: #000 (0,0,0) */
/* white: #fff (255,255,255) */
